*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
#header{
    width: 100%;
    height: 70px;
    background-color:white;
    font-size: 13px;
    /* border: 1px solid red; */
   
       
   
}
#headerleft{
    float: left;
    margin: 20px;
    
}
#headerright{
    text-align: right;
    padding: 7px;

}
#store{
    margin-left: 10px;
}
#headerright > a{
    margin-right: 15px;
    /* line-height: 10px; */
    align-items: center;
}
#img1{
    display: inline-flex;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    
}
#img1:hover{
    opacity: 1;
}
.sıgnIn{
    margin-right: 20px;
    padding: 6px 12px;
    background-color: #4285F4;
    border-radius: 3px;
    border: none;
    color: white;
}
#about{
    text-decoration: none;
}
#about:hover{
    text-decoration: underline;
}
#store{
    text-decoration: none;
}
#store:hover{
    text-decoration: underline;
}
#gmail{
    text-decoration: none;
}
#gmail:hover{
    text-decoration: underline;
}
#ımages{
    text-decoration: none;
}
#ımages:hover{
    text-decoration: underline;
}
#googleinput{
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    direction: rtl;
    width: 200px;
}
#search-area{
    height:20px;
    margin:0;
    padding-right: 30px;
    width: 100%;
}
#microphone{
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;

}